<!DOCTYPE html>
<html>
    <head>
        <title> Add Task</title>
		<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
	<body background="/static/bg.jpg">
	<div class="container">
	<form action="#" class="navbar-search pull-right">
		<input type="text" class="search-query" placeholder="Search">
	</form>
		<ul class="nav nav-tabs inverse">
			<li><a href="#">Home</a></li>
			<li class="dropdown">
				<a href="http://localhost:8000/projects/" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
				<ul class="dropdown-menu">
					<li><a href="#">Create Project</a></li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="http://localhost:8000/task/" class="dropdown-toggle" data-toggle="dropdown">Task</a>
				<ul class="dropdown-menu">
					<li><a href="#">Create Task</a></li>
				</ul>
			</li>
		
		<li><a href="http://localhost:8000/addproject/">Crear Proyecto</a></li>
        <li><a href="http://localhost:8000/newtask/">Crear Tarea</a></li>
		</ul>
	</div>	
		<div class="container">
			<div class="row-fluid">
				<div class="span6">
					<form action="">
						<legend>Task'Name</legend>
						<label for="Nombre">Name</label>
						<input type="text">
						<legend>Projects'Name</legend>
						<label for="">ProjectName</label>
						<input type="text">
						<legend>Dates</legend>
						<label for="">Begin</label>
						<input type="text">
						<label for="">End</label>
						<input type="text">
						<br>
						<input type="submit" class="btn btn-inverse">
					</form>	
				</div>

			
			</div>

		</div>
	</body>
</html>
