<!DOCTYPE html>
<html>
    <head>
        <title> Projects </title>
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    </head>
	<body class="container" background="/static/bg.jpg">
    <div class="container">
    <form action="#" class="navbar-search pull-right">
        <input type="text" class="search-query" placeholder="Search">
    </form>
        <ul class="nav nav-tabs ">
            <li><a href="#">Home</a></li>
            <li class="dropdown">
                <a href="http://localhost:8000/projects/" class="dropdown-toggle" data-toggle="dropdown">Projects</a>
                <ul class="dropdown-menu">
                    <li><a href="http://localhost:8000/create_project/">Create Project</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="http://localhost:8000/task/" class="dropdown-toggle" data-toggle="dropdown">Task</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Create Task</a></li>
                </ul>
            </li>
        
        <li><a href="http://localhost:8000/addproject/">Crear Proyecto</a></li>
        <li><a href="http://localhost:8000/newtask/">Crear Tarea</a></li>
        </ul>
    </div>  
		<div class="container span12">
            <div class="span12">
                <table class="table table-bordered table-striped table-hover table-condensed align="center"">
                    <tr>
                        <th>Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
                    
            </div>
            <div class="span6">
                
            </div>

		</div>


	</body>
</html>
